<span id="clock"></span> <br><br>

<button type="button" id="btn-check-in">Check In</button>
<span id = "check_in"></span> <br><br>

<button type="button" id="btn-check-out">Check Out</button>
<span id = "check_out"></span>

<script src="/dist/bundle.js"></script>
